[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
sqlalchemy-serializer = "*"
flask-restful = "*"
flask-cors = "*"
gunicorn = "*"
bcrypt-flask = "*"
flask = "*"
psycopg-binary = "*"
requests = "*"
bcrypt = "*"
jsonify = "*"
faker-vehicle = "*"
faker = "*"
flask-marshmallow = "*"
marshmallow = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"